<h1>New Post</h1>

<%= render "form", comment: @comment %>

<br>

<div>
  <%= link_to "Back to comment", comments_path %>
</div>




<%
=begin%>
 <%= form_with model: comment, url: post_comments_path, method: :post, local: true, scope: :post do |form| %>

  <div class="form-post-label">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="form-post-label">
    <%= form.text_area :text, size: "70x5" %><br>
  </div>
  
  <div class="form-post-submit">
    <%= form.submit "Add Post", data: {disable_with: "Loading..."}%>
  </div>

<% end %>
  <div>
    <button>
        <%=link_to 'Back', root_path %>
    </button>
</div> 
<%
=end%>