<h1>Here is the page for a specific user</h1>
<div class="user-repeat">
  <%= render partial: "shared/username", locals: { user: @user } %>
</div>

<div class="user-id-bio">
  <p>Bio</p>
  <p> <%= @user.bio %>
</div>

<div>
  <% @user.recent_post.each do |post| %>
    <h4><%= link_to post.title, user_post_path(post) %></h4>
    <p><%= post.text %></p>
    <div>
      <span>Comments: <%= post.comments_counter%>,</span> 
      <span>Likes: <%= post.likes_counter%></span>
    </div>
  <% end %>
</div>

<button>
  <%= link_to "See all posts", user_posts_path(@user) %>
</button>

