<h2 class="topic">Specific user</h2>
<%= render partial: "shared/username", locals: { user: @user } %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Bio</h5>
    <p class="card-text"><%= @user.bio %></p>
  </div>
</div>

<% @user.recent_post.each do |post| %>
  <div class="card">
    <div class="card-body">
      <div class="left">
        <h5 class="card-title"><%= post.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= post.text %></h6>
      </div>
      <div class="right">
        <p class="card-text">Comments: <small class="text-muted"><%= post.comments_counter%></small>, Likes: <small class="text-muted"><%= post.likes_counter%></small></p>
      </div>
    </div>
  </div>
<% end %>

<div class="centro-user-show-button">
  <a>
    <%= link_to "See all posts", user_posts_path(@user), :class => "btn btn-primary" %>
  </a>
</div>



