<h1>Here is the posts for a specific user</h1>

<div class="user-repeat">
    <%= render partial: "shared/username", locals: { user: @user } %>
</div>

<div class="post_cards">
    <% @user.recent_post.each do |post| %>
        <h4><%= post.title%></h4>
        <p><%= post.text%></p>
        <small>Comments:<%= post.comments_counter%></small>
        <small>Likes<%= post.likes_counter%></small>
    
        <% post.recent_comments.each do |comment| %>
        <p><%= comment.user.name %>: <%= comment.text %></p> 
        <% end %>
    
    <% end %>
</div>






