<h1>Here is the posts for a specific user</h1>

<div class="user-repeat">
    <%= render partial: "shared/username", locals: { user: @user } %>
</div>

<div class="post_cards">
    <% @user.recent_post.each do |post| %>
        <h4><%= link_to post.title, user_post_path(@user, post.id) %></h4>
        <p><%= post.text%></p>
        <div>
            <span>Comments:<%= post.comments_counter%></span>
            <span>Likes<%= post.likes_counter%></span>
        <div>
        <div>
            <% post.recent_comments.each do |comment| %>
                <p><%= comment.user.name %>: <%= comment.text %></p> 
            <% end %>
        </div>
    <% end %>
</div>

<button>
    <%= link_to 'Create New Post', new_user_post_path  %>
</button>

<button>
    <%= link_to "Pagination",  user_posts_path(@user) %>
</button>






