<h1>New Post</h1>

<%= form_with model: post, url: user_posts_path, method: :post, local: true, scope: :post do |f| %>

  <div class="form-post-label">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="form-post-label">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  
  <div class="form-post-submit">
    <%= f.submit "Add Post" %>
  </div>
<% end %>