<h1>Here is the page for a specific post</h1>

<div class="post_cards">
    <h4><%= @post.title%></h4>
    <small>Comments:<%= @post.comments_counter%></small>
    <small>Likes<%= @post.likes_counter%></small>
    <p><%= @post.text%></p>
</div>

<div>
    <% @post.comments.each do |comment| %>
    <p><%= comment.author.name %>: <%= comment.text %></p> 
    <% end %>
</div>