<h1 class="topic">Specific user's posts</h1>

<div class="card">
  <div class="card-body">
    <div class="post-show-line">
      <h5 class="card-title"><%= @post.title %></h5>
      <p class="card-text">Comments: <small class="text-muted"><%= @post.comments_counter%></small>, Likes: <small class="text-muted"><%= @post.likes_counter%></small></p>
    </div>
    <p class="card-text"><%= @post.text%></p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <% @post.comments.includes(:author).each do |comment| %>
    <p><%= comment.author.name %>: <%= comment.text %></p> 
     <%if can? :destroy, @comment %>
        <%= button_to 'Delete Comment', user_post_path(@post.author.id, @post.id), method: :delete, :class => "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'comments/form' %>
<%= render 'likes/form' %>






